@import "tailwindcss";

@theme{
    --font-sans: "Work Sans", system-ui, sans-serif;
    --font-h1: "Roboto Mono", monospace;
    --font-h2: "Exo 2", system-ui, sans-serif;

    --text-body: clamp(1rem, 1rem + 0.5vw, 1.25rem);
    --text-h1: clamp(2rem, 5vw, 2.5rem);
    --text-h2: clamp(1.5rem, 3vw, 2rem);

    /* Primary */

    --primary-100: #2C4CA3;
    --primary-200: #25408A;
    --primary-300: #1E3470;
    --primary-400: #172857;

    --primary-500: #101C3C;
    --primary-550: #0D1730;
    --primary-600: #0A1124;
    --primary-650: #060B17;
    --primary-10: #F2F6FF;

    /* Secondary */
    --secondary-200: #00A7FF;
    --secondary-300: #0098E8;
    --secondary-400: #0087CF;

    --secondary-500: #0077B6;
    --secondary-600: #00669C;
    --secondary-700: #005582;
    --secondary-800: #004469;
    --secondary-900: #00344F;


    /* Highlight */
    --highlight-500: #BAFF29;
    --highlight-600: #A7E525;
    --highlight-700: #95CC21;

    /* Neutrals */
    --neutrals-500: #FFFAFB;
    --neutrals-600: #999697;
    --neutrals-800: #333232;
    --neutrals-900: #1A1919;

    /* Breakpoints*/
    --breakpoint-desktop: 1400px;

}


@layer base{
    body, li{
        @apply font-sans;
        background-color: var(--primary-650);
        font-size: var(--text-body);
        color: var(--neutrals-500);
    }

    h1{
        font-family: var(--font-h1);
        font-size: var(--text-h1);
        color: var(--neutrals-500);
    }

    h2{
        font-family: var(--font-h2);
        font-size: var(--text-h2);
        color: var(--neutrals-500);
    }


}